<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>



<body>


    <div class="login-con">
        <div class="login-image">
        </div>
        <div class="login-form">
            <h2>Login Form</h2>
            <form action="/login/auth" method="post">
                <label for="username">Email</label>
                <input type="text" name="email" placeholder="Username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <span class="account" for=""> Do not have an Account</span> <a href="">Sign Up</a>
                <button type="submit">login</button>
        </div>

        </form>
    </div>

</body>

</html>